<nb-layout>

    <nb-layout-header fixed>
      <button 
        nbButton
        size="small" 
        status="primary" 
        routerLink="['page/home']"
        class="header-btn" 
        outline>
            <nb-icon icon="home-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
      </button>
      <button 
        nbButton 
        size="small" 
        status="primary" 
        (click)="newProject()" 
        class="header-btn" 
        outline>
          New Project
      </button>

      <button 
        nbButton 
        size="small" 
        status="primary" 
        *ngIf="vg.user.role == 'ADMIN'"
        (click)="showUsers()" 
        class="header-btn" 
        outline>
          Users config
      </button>

      <form [formGroup]="searchForm">
        <input nbInput fieldSize="small" type="text" placeholder="Search Project" [nbAutocomplete]="auto" name="searchValue" formControlName="searchValue"/>
        <nb-autocomplete #auto>
          <nb-option-group *ngFor="let project of groups"  [title]="project.name" >
              <nb-option disabled="false" (click)="goToProject(project)" [value]="project.name">Owner: {{project.users[0].firstname }} {{project.users[0].lastname}}</nb-option>
              <nb-option disabled="true" [value]="project.type">{{ project.type }}</nb-option>
          </nb-option-group>
        </nb-autocomplete>

        <!-- <button  [nbSpinner]="loading" nbSpinnerStatus="info" nbButton size="small" status="primary" type="submit" ghost>
            <nb-icon icon="search-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
        </button> -->
      </form>

      <button 
        style="position: absolute; right: 20px;"
        nbTooltip="Logout"
        nbButton
        size="small" 
        status="danger" 
        (click)="logout()"
        class="header-btn" 
        outline>
            <nb-icon icon="log-out-outline" [options]="{ animation: { type: 'shake' } }"></nb-icon>
      </button>

      <div style="position: absolute; right: 120px;">
        <nb-user size="small" nbTooltip="Click to show your account" (click)="onShowCompte()" shape="semi-round" [name]="vg.user?.firstname + ' ' + vg.user?.lastname" [title]="vg.user?.role"></nb-user>
      </div>
    </nb-layout-header>
  
    <nb-layout-column>
  
      <router-outlet></router-outlet>
      
    </nb-layout-column>
  
    <!-- <nb-layout-footer fixed>
    </nb-layout-footer> -->
  
</nb-layout>