<div id="content" [style]="'background-color: '+project.color+';'">
    <div id="header">
        <button 
        nbButton
        size="small" 
        status="primary"
        class="header-btn" 
        ghost>
            {{ project.name }}
        </button>
        
        <button 
        *ngIf="current_user.role == vg.project_roles.OWNER"
        nbButton 
        nbTooltip="Create new Group"
        size="small" 
        status="primary" 
        (click)="onCreateCard()" 
        class="header-btn" 
        outline>
            <nb-icon icon="plus-square-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
        </button>
        <button
        *ngIf="current_user.role == vg.project_roles.OWNER"
        nbButton 
        nbTooltip="Manage Team"
        size="small" 
        status="primary" 
        (click)="manageTeam()" 
        class="header-btn" 
        outline>
            <nb-icon icon="people-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
        </button>

        <button 
        *ngIf="current_user.role == vg.project_roles.OWNER"
        nbButton 
        [nbTooltip]="'Declare the project as '+(project.type == 'public'? 'Private' :'Public' )"
        size="small" 
        status="primary" 
        (click)="changeType()" 
        class="header-btn" 
        outline>
            <nb-icon [icon]="project.type == 'public'? 'eye-off-outline' :'eye-outline'" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
        </button>

        <button 
        *ngIf="current_user.role == vg.project_roles.OWNER"
        nbButton 
        [nbTooltip]="(project.state == 'Opened'? 'Close' :'Open' )+ ' project'"
        size="small" 
        status="primary" 
        (click)="changeState()" 
        class="header-btn" 
        outline>
            <nb-icon [icon]="project.state == 'Opened'? 'lock-outline' :'unlock-outline'" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
        </button>

        <button 
        *ngIf="current_user.role == vg.project_roles.OWNER"
        nbButton 
        nbTooltip="Delete this project?"
        size="small"
        (click)="delete()"
        status="danger"
        class="header-btn" 
        outline>
            <nb-icon icon="trash-2-outline" [options]="{ animation: { type: 'shake' } }"></nb-icon>
        </button>

        <button 
        *ngIf="current_user.role == vg.project_roles.VIEWER"
        nbButton 
        nbTooltip="Want to participate? Send request to the OWNER"
        size="small" 
        status="primary"
        class="header-btn" 
        outline>
            <nb-icon icon="paper-plane-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
        </button>

        <div *ngIf="project.link" style="position: absolute; right: 60px; bottom: 20px;">
            <a [href]="xssDemo(project.link)">Source Link</a>
        </div>

        <div style="position: absolute; right: 20px; bottom: 20px;">
            <nb-user size="tiny" [nbTooltip]="'Your role in this project: ' + current_user?.role" shape="round" [name]="current_user?.firstname + ' ' + current_user?.lastname" onlyPicture></nb-user>
        </div>
    </div>
    <div id="body">
        <div class="cards" *ngFor="let item of cards">
            <div class="card-header">
                <card-title [idProject]="project._id" [current_user]="current_user" [card]="item"></card-title>
            </div>
            <div class="card-body">
                <button 
                *ngIf="current_user.role == vg.project_roles.OWNER"
                (click)="createTask(item)"
                nbButton outline fullWidth size="tiny">
                    Add new Task
                </button>
                <single-task 
                    *ngFor="let task of item.tasks" 
                    [idProject]="project._id"
                    [current_user]="current_user"
                    [all_users]="project.users"
                    [task]="task">
                </single-task>
            </div>
        </div>
    </div>
</div>