<form (ngSubmit)="onCreate()" [formGroup]="form">
    <textarea nbInput fullWidth placeholder="Description" formControlName="description"></textarea><br>

    <nb-select multiple fullWidth placeholder="Users assigned to this task" formControlName="users">
        <nb-option *ngFor="let el of data?.users" [value]="el.email">{{el.firstname}} {{el.lastname}}</nb-option>
    </nb-select><br>

    <input  
        id="input-date"
        [nbDatepicker]="datepicker"
        fullWidth
        nbInput
        placeholder="End of task" 
        formControlName="endDate" />
    <nb-datepicker #datepicker></nb-datepicker><br>



    <button nbButton fullWidth [disabled]="form.invalid" type="submit">Create</button>
</form>