<form (ngSubmit)="onCreate()" [formGroup]="form">
    <textarea nbInput placeholder="Description" formControlName="description"></textarea>
    
    <nb-select multiple placeholder="Users assigned to this task" formControlName="users">
        <nb-option *ngFor="let el of data?.users" [value]="el.email">{{el.firstname}} {{el.lastname}}</nb-option>
    </nb-select>

    <input  
        id="input-date"
        [nbDatepicker]="datepicker"
        fullWidth
        nbInput
        placeholder="End of task" 
        formControlName="endDate" />
    <nb-datepicker #datepicker></nb-datepicker>



    <button nbButton [disabled]="form.invalid" type="submit">Create</button>
</form>