<div id="login-content">
    <form (ngSubmit)="onLogin()" [formGroup]="form">
        <h1>Login</h1>
        <p *ngIf="error" class="error">Email or password incorrects!</p>
        <input 
        type="email"
        id="input-email"
        autofocus 
        placeholder="Email" 
        formControlName="email" />
    
        <input 
        type="password" 
        id="pass"
        placeholder="password" 
        formControlName="pass" />
    
        <button type="submit">Login</button>
    </form>
</div>