<form (ngSubmit)="onCreate()" [formGroup]="form">
    <input type="text"   
                    id="input-name"
                    autofocus 
                    nbInput
                    placeholder="Name your project" 
                    formControlName="name" />

    <nb-select name="ho" placeholder="Type of project" formControlName="type" id="type">
        <nb-option value="public">Public</nb-option>
        <nb-option value="private">Private</nb-option>
    </nb-select>

    <input type="color"   
                    id="input-color" 
                    placeholder="Choose Color" 
                    nbInput
                    formControlName="color" />



    <button nbButton [disabled]="form.invalid" type="submit">Create</button>
</form>